// Font import
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");

// Variables
$font: "Red Hat Text", sans-serif;
$font-size: 16px;
$red: hsl(14, 86%, 42%);
$green: hsl(159, 69%, 38%);
$rose50: hsl(20, 50%, 98%);
$rose100: hsl(13, 31%, 94%);
$rose300: hsl(14, 25%, 72%);
$rose400: hsl(7, 20%, 60%);
$rose500: hsl(12, 20%, 44%);
$rose900: hsl(14, 65%, 9%);

// Default styles
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

// Uniform document

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: $font;
}

body {
  background: $rose100;
}

h1 {
  font-size: 32px;
  color: $rose900;
}

h2 {
  font-size: 26px;
  color: $red;
}

h3 {
  font-size: $font-size;
  color: $rose900;
}

.price-tag {
  color: $red;
}

.subtitle {
  font-size: 14px;
  color: $rose300;
}

@mixin button($border, $background, $text){
  border: 1px solid $border;
  background: $background;
  color: $text;
  padding: 10px 20px;
}