@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Red Hat Text", sans-serif;
  transition: all 0.3s ease;
}

body {
  background: hsl(13, 31%, 94%);
}

h1 {
  font-size: 32px;
  color: hsl(14, 65%, 9%);
  margin-bottom: 25px;
}

h2 {
  font-size: 26px;
  color: hsl(14, 86%, 42%);
}

h3 {
  font-size: 16px;
  color: hsl(14, 65%, 9%);
}

.price-tag {
  color: hsl(14, 86%, 42%);
  font-weight: 700;
}

.subtitle {
  font-size: 14px;
  color: hsl(12, 20%, 44%);
}

img {
  width: 100%;
}

section {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 30px;
  max-width: 1440px;
  padding: 50px;
  margin: auto;
}

#product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
#product-list article div {
  position: relative;
  margin-bottom: 25px;
}
#product-list article div div {
  width: 200px;
  height: 40px;
  left: calc(50% - 100px);
  position: absolute;
  bottom: -16px;
  padding: 0;
  margin-bottom: 0;
}
#product-list article div .add {
  border: 1px solid hsl(14, 65%, 9%);
  background: hsl(20, 50%, 98%);
  color: hsl(14, 65%, 9%);
  border-radius: 100000px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#product-list article div .add:hover {
  border-color: hsl(14, 86%, 42%);
}
#product-list article div .in-cart {
  border: 1px solid hsl(14, 86%, 42%);
  background: hsl(14, 86%, 42%);
  color: hsl(20, 50%, 98%);
  border-radius: 100000px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 180px;
  padding: 0 10px;
}
#product-list article div .add-button {
  display: flex;
  border: none;
  background: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0;
  border-radius: 1000px;
  font-size: 16px;
}
#product-list article div .add-button img {
  width: 22px;
  margin-right: 10px;
}
#product-list article div .add-button:hover {
  cursor: pointer;
  color: hsl(14, 86%, 42%);
  border-color: hsl(14, 86%, 42%);
}
#product-list article div .increment,
#product-list article div .decrement {
  background: none;
  border: 1px solid hsl(20, 50%, 98%);
  border-radius: 10000px;
  width: 20px;
  height: 20px;
  align-items: center;
  position: relative;
}
#product-list article div .increment img,
#product-list article div .decrement img {
  max-width: 10px;
  position: absolute;
  left: 4px;
}
#product-list article div .increment:hover,
#product-list article div .decrement:hover {
  cursor: pointer;
  background-color: hsl(20, 50%, 98%);
}
#product-list article div .increment:hover img,
#product-list article div .decrement:hover img {
  filter: invert(100%) invert(25%) sepia(98%) saturate(769%) hue-rotate(338deg) brightness(101%) contrast(103%);
}
#product-list article div .decrement img {
  top: 8px;
}
#product-list article div .increment img {
  top: 4px;
}
#product-list article div > img {
  border-radius: 10px;
}
#product-list article h3 {
  margin-top: 8px;
  margin-bottom: 8px;
}

#cart {
  height: fit-content;
  padding: 20px;
  background: hsl(20, 50%, 98%);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#cart > img {
  max-width: 150px;
  align-self: center;
}
#cart > p {
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
